<div class='panel panel-primary'>
	<div class='panel-heading'>
		<div class='row'>{{pageTitle}}</div>
	</div>
	<div class='panel-body'>
		<div class='row'>
			<div class='col-md-2'>Filter by:</div>
			<div class='col-md-4'>
				<input type='text' [(ngModel)]='listFilter' />
			</div>
		</div>
		<div class='table-responsive'>
			<table class='table'>
				<thead>
					<tr>
						<td>#</td>
						<td>Name</td>
						<td>Cost</td>
						<td><button class='btn btn-primary' (click)='toggleImage()'>
								{{showImage ? 'Hide' : 'Show'}} Image</button></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let product of products | productListFilter:listFilter'>
						<td>{{product.id}}</td>						
						<td><a [routerLink]="['/detail',product.id]">{{product.name}}</a></td>
						<td>{{product.cost | currency:'USD':true:'1.0-2'}}</td>
						<td><img *ngIf='showImage' [src]='product.url'
							[style.width.px]='40'></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

